# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 端小强的博客
avatar: /assets/placeholder/avatar.png
favicon: /assets/placeholder/favicon.ico
keywords: [ShardingSphere, Calcite]
author: 端小强
language: zh-CN
timezone: Asia/Shanghai

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://strongduanmu.com/
permalink: :title.html
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render: README.md

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 5
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'date'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 5
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

sitemap:
  path: sitemap.xml
baidusitemap:
  path: baidusitemap.xml

# npm i hexo-renderer-markdown-it-plus
markdown_it_plus:
  highlight: true
  html: true
  xhtmlOut: true
  breaks: true
  langPrefix:
  linkify: true
  typographer:
  quotes: “”‘’
  plugins:
    - plugin:
      name: markdown-it-mark
      enable: false

# Extensions
## Plugins: https://hexo.io/plugins/
feed:
  enable: true
  type: atom
  path: atom.xml
  limit: false
  hub:
  content:
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date
  icon: icon.png
  autodiscovery: true
  template:

inject:
  head:
    - <meta name="baidu-site-verification" content="codeva-sIRwgTpHve" />
    - <link rel="apple-touch-icon" sizes="180x180" href="/assets/placeholder/apple-touch-icon.png">
    - <link rel="icon" type="image/png" sizes="32x32" href="/assets/placeholder/favicon-32x32.png">
    - <link rel="icon" type="image/png" sizes="16x16" href="/assets/placeholder/favicon-16x16.png">
    - <link rel="manifest" href="/assets/placeholder/site.webmanifest">
    - <link rel="stylesheet" href="/css/custom.css">
    - <link rel="stylesheet" href="/css/lxgwwenkaimono-bold.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="/css/lxgwwenkaimono-bold.css"></noscript>
    - <link rel="stylesheet" href="/css/lxgwwenkaiscreen.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="/css/lxgwwenkaiscreen.css"></noscript>
    - <link rel="preconnect" href="https://cdn.jsdelivr.net">
    - <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
    - <link rel="preconnect" href="https://pagead2.googlesyndication.com">
    - <link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
  script:
    - <!-- Chatra {literal} --><script async>(function(d, w, c) {w.ChatraID = 'PHWnu7Bamcwtbnx2d'; var s = d.createElement('script'); w[c] = w[c] || function() {(w[c].q = w[c].q || []).push(arguments);}; s.async = true; s.src = 'https://call.chatra.io/chatra.js'; if (d.head) d.head.appendChild(s);})(document, window, 'Chatra');</script><!-- /Chatra {/literal} -->
    # - <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    # - <script defer src="https://busuanzi.strongduanmu.com/js"></script>
    - <script defer src="https://cn.vercount.one/js"></script>
    - <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous"></noscript>
    - <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
    - <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    - <script>window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };</script>
    - <script defer src="/_vercel/insights/script.js"></script>
    - <script>window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };</script>
    - <script defer src="/_vercel/speed-insights/script.js"></script>
    - <script>function change_banner(){$(".banner img.bg").attr("src", "/assets/banner/banner_" + Math.floor((Math.random() * 20 + 1)) + ".jpg")};setTimeout("change_banner()", 250);</script>
    - <script>function add_page_pv(){$("#post-meta").after('<div class="flex-row" id="post-meta"><span class="text created">本文总阅读量 <span id="vercount_value_page_pv"></span> 次</span></div>')};setTimeout("add_page_pv()", 500);</script>
    - <script>function change_img_alt(){$("article.md-text img:not(.post-cover img):not(.cover img):not(.card-link img):not(.image-bg img):not(.social img):not(.preview img)").each(function(index){$(this).after("<div class='image-meta' style='text-align:center;'><span class='image-caption center' style='display:inline-block;font-size:.8125rem;color:var(--text-p2);line-height:1.5;text-align:justify;'>" + ($(this).attr("title") || $(this).attr("alt")) + "</span></div>")});}setTimeout("change_img_alt()", 1000);</script>

## Themes: https://hexo.io/themes/
theme: stellar

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: git
  repo: git@github.com:strongduanmu/strongduanmu.github.io.git
  branch: master

# Google AdSense Plugin
hexo_google_adsense:
  enable: true
  log_msg: true
  tag_name: 'GoogleAdsense'
  file_path: 'source/ads/google/article_ads.html'
